<!--


<div class="container">
  <h2 class="subtitle"> Class e Style Binding </h2>
</div>


<div>
  Selecione uma classe:

  <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
           <option value="alert-info">Info</option>
              <option value="alert-warning">Warning</option>
                 <option value="alert-danger">Danger</option>
    </select>
  <br><br>

  <div class="alert alert-success">
    <strong>Success!</strong> Indicates a successful or positive action.
  </div>

  <div class="alert alert-info">
    <strong>Info!</strong> Indicates a neutral informative change or action.
  </div>

  <div class="alert alert-warning">
    <strong>Warning!</strong> Indicates a warning that might need attention.
  </div>

  <div class="alert alert-danger">
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
  </div>
</div>



<div class="alert {{ classe.value }}">
  Testo
</div>

-->

<section class="event-binding">

  <article>
    <h3>Event Binding</h3>
  </article>


  <div>
    <button (click)="botaoClicado()" class="btn btn-primary">Clique aqui</button>
  </div>


  <br><br>

<!--
<input  type="text"
(keyup.enter)="salvarValor($event.target.value)"
(blur)="salvarValor($event.target.value)"
(keyup)="onKeyUp($event)"/>

trocado por variavável local
-->

<input  type="text"
(keyup.enter)="salvarValor(campoInput.value)"
(blur)="salvarValor(campoInput.value)"
(keyup)="onKeyUp($event)"
#campoInput/>


<p>Valor atual: {{ valorAtual }}</p>

<p>Valor salvo: {{ valorSalvo }}</p>


<hr>

<br>

<span
(mouseover)="onMouseOverOut()"
(mouseout)="onMouseOverOut()"
[class.highlight]="isMouseOver"
>Passe o mouse sobre mim</span>

</section>